@import "reset.scss";

body {
  background-color: #e5e6e1;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 400px 1.5fr;
  justify-content: center;
  line-height: 1.2;
}

.typing {
  font-weight: bold;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 2.5px solid black;
  border-radius: 5px;
  max-width: 900px;
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 1fr 1.5fr;

  .typing__info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .typing__title {
      outline: 1.25px solid black;
      box-shadow: 0 0 0 1.2px black;
      // border-radius: 3px;
      padding: 12px 8px;
      grid-column: span 2;
      grid-row: span 2;
    }

    .typing__history {
      outline: 1.25px solid black;
      // border-radius: 3px;
      padding: 8px 8px;
      grid-column: span 4;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      gap: 1px;

      .typing__hisInfo {
        font-weight: bold;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
      }
    }

    .typing__count {
      outline: 1.25px solid black;
      // border-radius: 3px;
      padding: 12px 8px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 10px;
      grid-column: span 2;
    }

    .typing__moreinfo {
      outline: 1.25px solid black;
      // border-radius: 3px;
      padding: 12px 8px;
      grid-row: span 4;
      grid-column: span 4;
    }

    .typing__status {
      outline: 1.25px solid black;
      // border-radius: 3px;
      padding: 12px 8px;
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .typing__value {
        align-self: flex-end;
      }
    }
  }

  .typing__main {
    border-top: 2px solid black;
    display: flex;
    padding: 35px 40px;
    gap: 10px;
    flex-direction: column;

    .typing__author {
      font-weight: bold;
      font-size: small;
      color: black;
      margin-bottom: 10px;
    }

    .typing__quotes {
      font-size: 16px;
      font-weight: bold;
      padding: 0px;
    }

    .typing__none {
      color: black;
    }

    .typing__error {
      color: red;
    }

    .typing__correct {
      color: black;
      font-weight: bold;
    }

    .typing__input {
      font-size: 16px;
      background-color: #f2f2f2;
      color: #37474f;
      padding: 0px;
      font-weight: bold;
      resize: none;
      border: none;
      outline: none;
      overflow-y: hidden; /* 스크롤바를 숨깁니다 */
    }

    #typing__bar {
      width: 100%;
      min-height: 2px;
      background-color: #d5d6d4;
      // transition: width 0.3s ease;
      margin-bottom: 10px;
    }

    .typing__next {
      font-size: 14px;
      font-weight: bold;
      color: #777878;
    }
  }
}

/* Media query to hide .typing__moreinfo when width is less than 768px */
@media (max-width: 768px) {
  body {
    justify-content: stretch;
    grid-template-rows: 1fr 350px 1.5fr;
    line-height: 1.2;
  }

  .typing {
    grid-template-rows: 0.6fr 2fr;

    .typing__info {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      .typing__title {
        display: none;
      }

      .typing__history {
        order: 2;
      }

      #typing__maxavg {
        order: 1;
      }
    }

    .typing__moreinfo {
      display: none;
    }
  }
}

@media (max-width: 660px) {
  body {
    grid-template-rows: 1fr 290px 1.5fr;
    min-width: 500px;
    min-height: 290px;
  }

  .typing {
    grid-template-rows: 0.7fr 2fr;
    .typing__info {
      .typing__history {
        grid-column: span 6;
      }

      .typing__status {
        .typing__value {
          align-self: flex-start;
        }
      }
    }

    #typing__maxavg {
      display: none;
    }

    .typing__main {
      .typing__author {
        display: none;
      }

      .typing__next {
        display: none;
      }
    }
  }
}

// 지금 저 상황이 500 x 324 니까 높이가 안되서 or 구문으로 들어간 상황
